body{
font-family: sans-serif, Helvetica, Arial;
background-image: url("petuh.png");
background-repeat: repeat-x;
background-position: bottom;
}
h1{
text-align: center;
letter-spacing: 0.6cm;
font-family: Arial;
color:red;
}
#tabel{
float: left;
}
#logo{
float: right;
}

table{

border:0;
width: 1000px;

}
td{
text-align: center;
background-color: #d8d8d8;
margin: 20px;
padding: 10px;
}
td.suur{
height: 500px;
display: block;
background-color: #d8d8d8;
margin: 20px;
padding: 10px;
text-align: left;
font-family: georgia;
border:30px solid #87CEEB;

}
img{
border:30px solid transparent;
border-image: url("raamipilt.png") 33% repeat;
}
a:link, a:active, a:visited{
color: #787878;
font-family: serif;
text-decoration: none; /*podcherkivanie teksta*/
}

a:hover{
color: #282828;
font-family: serif;
text-decoration: underline; /*podcherkivanie teksta*/
font-size: 20;
}
li {
/*vmesto tochek - malen'kie kartinki*/
list-style-image: url("raamipilt.png");
line-height: 100%;
list-style-position: center;
}
td.vaike{
width: 800px;
background-color: #d8d8d8;



font-family: georgia;
}











