body{
background-color: #F0E68C;
font-family: sans-serif, Helvetica, Arial;
background-image: url("petuh.png");
background-repeat: repeat-x;
background-position: bottom;
}
h1{
color: green;
text-align: center;
letter-spacing: 0.6cm;
text-decoration: underline;
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    width: 300px;
    border-radius: 25px;
}
#tabel{
float: left;
}
#logo{
float: right;
}

table{

border:0;
width: 1000px;

}
td{
text-align: center;
background-color: #00ff00;
border:0px;
margin: 20px;
padding: 10px;
}
td.suur{
height: 500px;
display: block;
background-color: #00CED1;
border:0px;
margin: 20px;
padding: 10px;
text-align: left;
font-family: georgia;
}
img{
border-image: url("raamipilt.png") 33% repeat;
}
a:link, a:active, a:visited{
color: #787878;
font-family: serif;
text-decoration: none; /*podcherkivanie teksta*/
}

a:hover{
color: #282828;
font-family: serif;
text-decoration: underline; /*podcherkivanie teksta*/
font-size: 20;
}
li {
/*vmesto tochek - malen'kie kartinki*/
list-style-image: url("raamipilt.png");
line-height: 100%;
list-style-position: center;
}
td.vaike{
width: 800px;
background-color: #d8d8d8;
border: 0px;


font-family: georgia;
}











